<div class="container">
  <h3>Round-1(Stability Check)</h3>
  <p><u>EPS Growth rate</u></p>
  <div>
    <span><label>Select start date : </label></span>
    <span><p-calendar [(ngModel)]="epsStartDate" view="month" dateFormat="mm/yy" [yearNavigator]="true"
                      yearRange="2000:2030"></p-calendar></span>
    <span><label>Select Finish date : </label></span>
    <span><p-calendar [(ngModel)]="epsFinishDate" view="month" dateFormat="mm/yy" [yearNavigator]="true"
                      yearRange="2000:2030" (onSelect)="onYearSelected()"></p-calendar></span>
  </div>
</div>
